@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: auto;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background: #fcf9f8;
  color: #1c1b1b;
}

* {
  box-sizing: border-box;
}
