@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply m-0 bg-background font-body text-text antialiased;
  }

  *, ::before, ::after {
    box-sizing: border-box;
  }

  #root {
    min-height: 100vh;
  }

  ::selection {
    background: #ff5757;
    color: #ffffff;
  }
}
